
@{
    ViewData["Title"] = "Search";
}

@using MultiShop.Business

@model List<ProductDto>



<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">
            @* @Model.FirstOrDefault()?.Category.CategoryName Kategorisi *@
        </span>
    </h2>
    <div class="row px-xl-5">

        @foreach (ProductDto product in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">

                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100-h-300" src="@product.Image" alt="">
                        <div class="product-action">

                            <form action="/Cart/AddToCart/@product.ProductID" method="post">
                                <button type="submit" class="btn px-3">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                </button>
                            </form>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href="/Product/Index/@product.ProductID"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="">@product.ProductName</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>@product.Price</h5><h6 class="text-muted ml-2"><del>@product.DistcountedPrice</del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">

                            @for (int i = 0; i < product.ProductRating; i++)
                            {
                                <small class="fa fa-star text-primary mr-1"></small>
                            }

                            <small>(@product.ProductRating)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
